<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" style="display:none;" class="blueimp-gallery blueimp-gallery-controls" data-use-bootstrap-modal="false" data-fullscreen="true">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<br>
<div class="container-fluid" style="background-color: #000000; color:gray;">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-1 hidden-sm hidden-xs">
            <br><br>
        &copy; 2016 The Allyn Riverside Cabins
        </div>
        <div class="col-xs-2">
           <h4>Contact Us</h4>
            <a href="mailto:info@theallyn.com.au">info@theallyn.com.au</a><br>
            Ph: <a href="tel:+61249825051">(02) 4982 5051</a>
        </div>
    </div>
</div>
<script src="{{ site.github.url }}/js/jquery-1.11.3.min.js"></script>
<script src="{{ site.github.url }}/js/bootstrap.min.js"></script>
<script src="{{ site.github.url }}/js/fontfaceobserver.js"></script>
<script src="{{ site.github.url }}/js/jquery.blueimp-gallery.min.js"></script>
<script src="{{ site.github.url }}/js/custom.js"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-74364065-1', 'auto');
    ga('send', 'pageview');

</script>