
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-weight: bold;
}

#navbar-main{
  font-size:25px;
}

.coverpic1{
  background: rgba(0, 0, 0, 0.3) url(/img/cover/josh.jpg);
}
.coverpic2{
  background: rgba(0, 0, 0, 0.4) url(/img/cover/river.jpg);
}
.coverpic3{
  background: rgba(0, 0, 0, 0.1) url(/img/riverside/horseman.jpg);
}
.coverpic4{
  background: rgba(0, 0, 0, 0.2) url(/img/cover/allynriver.jpg);
}

.coverpic5{
  background: rgba(0, 0, 0, 0.1) url(/img/location/barringtons/ladieswell.jpg);
}

.coverpic6{
  background: rgba(0, 0, 0, 0.1) url(/img/cover/riverview.jpg);
}

.coverpic7{
  background: rgba(0, 0, 0, 0.1) url(/img/cover/riverside-fence.jpg);
}


.cover {
  margin-top: -20px;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 450px;
  margin-bottom:15px;
}

.cover:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  content: ' ';
  height: 430px;
}

#home {
  padding-top: 0;
  background-color: #f9f9f9;
}

.booking-widget-container {
  position: relative;
  padding-bottom: 55%;
  height: 0;
  overflow: scroll;
}

.booking-widget-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.google-maps {
  position: relative;
  padding-bottom: 90%; // (450 ÷ 500 = 0.9 = 90%)
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
