.booking-widget-container {
  position: relative;
  padding-bottom: 55%;
  height: 0;
  overflow: scroll;
}

.booking-widget-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.google-maps {
  position: relative;
  padding-bottom: 90%; // (450 ÷ 500 = 0.9 = 90%)
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}