---
layout: default
---

<div class="cover {{ page.coverpicture }}">
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            {{ content }}
        </div>
        <div class="col-md-2">
            {% for image in page.images %}
            <a href="{{ site.github.url }}/img/{{ image }}" data-gallery>
                <img class="img-responsive" src="{{ site.github.url }}/img/thumbnails/{{ image }}">
            </a>
            <br>
            {% endfor %}
        </div>
    </div>

</div>
